**__pycache__**
.pytest_cache**
.mypy_cache
.venv
.vscode
flattened**
results**
**6_valid**
**50_samples**
**slurm**
**output.log**
**debug.log**
**wandb**
finetune_**
.cache**

config.secret.json

*csv

green_score.egg-info
notebooks/

DS_Store
.DS_Store

pngs/
*.zip

# uv
.python-version
uv.lock
